body {
  background-image: url(fond.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

p {
  font-family: lobster;
  font-size: 24px;
}

form {
  margin: 5%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 1em;
  font-size: 16px;
}

input {
  width: 300px;
  margin: 1% 0%;
}

textarea {
  width: 400px;
  height: 150px;
  margin: 1% 0%;
}

.menu {
  float: right;
  margin: 0% 1%;
  font-family: Lobster;
  font-size: 20px;
  color: white;
  padding: 1% 0.5%;
}

.menu:hover {
  background-color: grey;
  color: white;
  text-decoration: none;
}

#nav-bar {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1;
}

#button_mes {
  width: 200px;
  border: 1px solid black;
  margin: 1% 0%;
}

.titre {
  font-family: lobster;
}

#img_description {
  border-radius: 50%;
}

#info_contact {
  margin: 5% 0%;
}

#top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 24px;
  opacity: 0.70;
  background-color: white;
}

#top:hover {
  background-color: red;
}

#arrowtop {
  color: black;
}

#bar {
  background-color: #0E19B3;
}

.marg_top {
  margin-top: 20px;
}

.icon {
  font-size: 72px;
  margin: 5%;
}

.titre_comp {
  font-size: 35px;
}

.border_comp {
  border: 1px solid black;
  border-radius: 1em;
  margin: 4%;
  padding: 2%;
}

.textprojets {
  font-family: lobster;
  font-size: 25px;
}

.pro {
  margin: 3% 4%;
}

.img_pro {
  width: 400px;
  height: 250px;
}

.img_pro:hover {
  transform: scale(1.4);
}

.iconContact {
  font-size: 48px;
  color: black;
  margin: 5%;
}
